<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wisp-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF3D9AD71D9BD70500B497C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3D9AF01D9BD70500B497C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3D9AFB1D9BD70500B497C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
